<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css">
   <link rel= "stylesheet" type="text/css" href="css/style.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>Percy's Pies</title>
</head>

<body>

  <div id='cssmenu'>
  Percy's Pies
    </ul>
    <ul id='words'>
      <li><a href='/index'>Home</a></li>
      <li class='active has-sub'><a href='#'>Links</a>
        <ul>
         <li class='active'><a href='https://www.google.com/'>Google</a>
    
         <li class='active'><a href='http://www.minedminds.org/'>Mined Minds</a>

         <li class='active'><a href='https://stackoverflow.com/'>Stack Overflow</a>
      </ul>
    </li>
    <li><a href='#'>About</a></li>
    <li><a href='#'>Contact</a></li>
  </ul>
  </div>
  
  
<div id= 'pizza'>
<h1> Build your Pizza:</h1>
<center>
<form method= "post" action="/all_tops">

<h3> Please select your Crust:</h3>
  <p><input  type="radio"  value="Tiny" name= "crust[]" >Tiny</p>
  <div class= 'photo'><img src="/img/Tiny.jpg"/></div>

  <p><input  type="radio"  value="Small" name= "crust[]" >Small</p>
  <div class= 'photo'><img src="/img/Small.jpg"/></div>

  <p><input  type="radio"  value="Medium" name= "crust[]" >Medium</p>
  <div class= 'photo'><img src="/img/Medium.jpg"/></div>

  <p><input  type="radio"  value="Large" name= "crust[]" >Large</p>
  <div class= 'photo'><img src="/img/Large.jpg"/></div>

<h3> Please select your Sauce:</h3>
  <p><input  type="checkbox"  value="Classic" name= "sauce[]" >Classic</p>
  <div class= 'photo'><img src="/img/Classic.jpg"/></div>

  <p><input  type="checkbox"  value="Hearty" name= "sauce[]" >Hearty</p>
  <div class= 'photo'><img src="/img/Hearty.jpg"/></div>

  <p><input  type="checkbox"  value="Bechamel" name= "sauce[]" >Bechamel</p>
  <div class= 'photo'><img src="/img/Bechamel.jpg"/></div>

  <p><input  type="checkbox"  value="Pesto" name= "sauce[]" >Pesto</p>
  <div class= 'photo'><img src="/img/Pesto.jpg"/></div>


<h3> Please select your Meats:</h3>
 
  <p><input  type="checkbox"  value="Ham" name= "meat[]">Ham</p>
  <div class= 'photo'><img src="/img/Ham.jpg"/></div>

  <p><input  type="checkbox"  value="Chicken" name= "meat[]">Chicken</p>
  <div class= 'photo'><img src="/img/Chicken.jpg"/></div>

  <p><input  type="checkbox"  value="Sausage" name= "meat[]">Sausage</p>
  <div class= 'photo'><img src="/img/Sausage.jpg"/></div>

  <p><input  type="checkbox"  value="Pepperonni" name= "meat[]">Pepperonni</p>
  <div class= 'photo'><img src="/img/Pepperonni.jpg"/></div>

<h3> Please select your Veggies:</h3>
  <p><input  type="checkbox"  value="Pepper" name= "veggie[]">Green Pepper</p>
  <div class= 'photo'><img src="/img/Pepper.jpg"/></div>

  <p><input  type="checkbox"  value="Onion" name= "veggie[]">Red Onion</p>
  <div class= 'photo'><img src="/img/Onion.jpg"/></div>

  <p><input  type="checkbox"  value="Tomato" name= "veggie[]">Tomato</p>
  <div class= 'photo'><img src="/img/Tomato.jpg"/></div>

  <p><input  type="checkbox"  value="Olives" name= "veggie[]" >Olives</p>
  <div class= 'photo'><img src="/img/Olives.jpg"/></div>

<h3> Please select your Cheese:</h3>
  <p><input  type="checkbox"  value="Muenster_Cheese" name= "cheese[]" >Muenster Cheese</p>
  <div class= 'photo'><img src="/img/muenster.jpg"/></div>

  <p><input  type="checkbox"  value="Mozz" name= "cheese[]" >Mozz Cheese</p> 
  <div class= 'photo'><img src="/img/Mozz.jpg"/></div>

  <p><input  type="checkbox"  value="Provalone" name= "cheese[]" >Prova Cheese</p>
  <div class= 'photo'><img src="/img/Provalone.jpg"/></div>

  <p><input  type="checkbox"  value="Swiss" name= "cheese[]" >Swiss Cheese</p>
  <div class= 'photo'><img src="/img/Swiss.jpg"/></div>

</center>

<center><input type='submit'></center>
</form>
</center>
</div>
</body>
</html>