<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css">
   <link rel= "stylesheet" type="text/css" href="css/style.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>Percy's Pies</title>
</head>

<body>

  <div id='cssmenu'>
  Test Site
    </ul>
    <ul id='words'>
      <li><a href='/index'>Home</a></li>
      <li class='active has-sub'><a href='#'>Links</a>
        <ul>
         <li class='active'><a href='https://www.google.com/'>Google</a>
    
         <li class='active'><a href='http://www.minedminds.org/'>Mined Minds</a>

         <li class='active'><a href='https://stackoverflow.com/'>Stack Overflow</a>
      </ul>
    </li>
    <li><a href='#'>About</a></li>
    <li><a href='#'>Contact</a></li>
  </ul>
  </div>
  
<div id= 'pizza'>
<h1> Build your Pizza:</h1>
<center>
<form method= "post" action="/all_tops">

<h3> Please select your Crust:</h3>
  <p><input  type="checkbox"  value="Single" name= "crust[]" >Single</p>
  <div class= 'photo'><img src="/img/tiny.jpg"/></div>

  <p><input  type="checkbox"  value="Small" name= "crust[]" >Small</p>
  <div class= 'photo'><img src="/img/small.jpg"/></div>

  <p><input  type="checkbox"  value="Medium" name= "crust[]" >Medium</p>
  <div class= 'photo'><img src="/img/medium.jpg"/></div>

  <p><input  type="checkbox"  value="Large" name= "crust[]" >Large</p>
  <div class= 'photo'><img src="/img/large.jpg"/></div>

<h3> Please select your Sauce:</h3>
  <p><input  type="checkbox"  value="Classic" name= "sauce[]" >Classic</p>
  <div class= 'photo'><img src="/img/classic_sauce.jpg"/></div>

  <p><input  type="checkbox"  value="Hearty" name= "sauce[]" >Hearty</p>
  <div class= 'photo'><img src="/img/hearty_sauce.jpg"/></div>

  <p><input  type="checkbox"  value="Bechamel" name= "sauce[]" >Bechamel</p>
  <div class= 'photo'><img src="/img/white_sauce.jpg"/></div>

  <p><input  type="checkbox"  value="Pesto" name= "sauce[]" >Pesto</p>
  <div class= 'photo'><img src="/img/pesto_sauce.jpg"/></div>


<h3> Please select your Meats:</h3>
 
  <p><input  type="checkbox"  value="Ham" name= "meat[]">Ham</p>
  <div class= 'photo'><img src="/img/ham.jpg"/></div>

  <p><input  type="checkbox"  value="Chicken" name= "meat[]">Chicken</p>
  <div class= 'photo'><img src="/img/chicken.jpg"/></div>

  <p><input  type="checkbox"  value="Sausage" name= "meat[]">Sausage</p>
  <div class= 'photo'><img src="/img/sausage.jpg"/></div>

  <p><input  type="checkbox"  value="Pepperonni" name= "meat[]">Pepperonni</p>
  <div class= 'photo'><img src="/img/peppo.jpg"/></div>

<h3> Please select your Veggies:</h3>
  <p><input  type="checkbox"  value="Green_Pepper" name= "veggie[]">Green Pepper</p>
  <div class= 'photo'><img src="/img/green_pepper.jpg"/></div>

  <p><input  type="checkbox"  value="Red_Onion" name= "veggie[]">Red Onion</p>
  <div class= 'photo'><img src="/img/red_onion.jpg"/></div>

  <p><input  type="checkbox"  value="Tomato" name= "veggie[]">Tomato</p>
  <div class= 'photo'><img src="/img/tomato.jpg"/></div>

  <p><input  type="checkbox"  value="Olives" name= "veggie[]" >Olives</p>
  <div class= 'photo'><img src="/img/olive.jpg"/></div>

<h3> Please select your Cheese:</h3>
  <p><input  type="checkbox"  value="Muenster_Cheese" name= "cheese[]" >Muenster Cheese</p>
  <div class= 'photo'><img src="/img/muenster.jpg"/></div>

  <p><input  type="checkbox"  value="Mozz_Cheese" name= "cheese[]" >Mozz Cheese</p> 
  <div class= 'photo'><img src="/img/mozz.jpg"/></div>

  <p><input  type="checkbox"  value="Provalone_Cheese" name= "cheese[]" >Prova Cheese</p>
  <div class= 'photo'><img src="/img/prov.jpg"/></div>

  <p><input  type="checkbox"  value="Swiss_Cheese" name= "cheese[]" >Swiss Cheese</p>
  <div class= 'photo'><img src="/img/swiss.jpg"/></div>

</center>

<center><input type='submit'></center>
</form>
</center>
</div>
</body>
</html>